 // Defining a variable
 $gray: #F4F4F4;

.Submitbutton {
  background: #F4F4F4;
  border-radius: 4px;
  padding: 3px;
}
 h1{
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
 }
 form {
  text-align: center;
 }
 
 // Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
